### nonebot 基础配置
#参考文档：https://v2.nonebot.dev/docs/
ENVIRONMENT=dev
HOST=0.0.0.0
PORT=8086
SUPERUSERS=[]
DRIVER=~fastapi+~aiohttp+~websockets
#NICKNAME=[""]
COMMAND_START=[""]

### nonebot_plugin_message
#指定消息存储方式，默认为elasticsearch
MESSAGE_CORE_MAPPING_STORAGE = "elasticsearch"
#指定图片视频等文件存储方式，默认为minio
MESSAGE_CORE_FILES_STORAGE = "minio"
#指定存储表或存储路径的前缀名称，默认为vanillabot
MESSAGE_CORE_STORAGE_PREFIX = "vanillabot"
#指定以默认文件系统本地存储时，文件存储路径，默认为./data
MESSAGE_CORE_FILES_LOCAL_PATH = "/mnt/disk"

### nonebot_plugin_elasticsearch
ES_HOSTS = ["https://127.0.0.1:9200"]
ES_API_KEY = "abcdefghijklmnopqrstuvwxyz=="
ES_VERIFY_CERTS = "False"
ES_CLIENT_PARAMETERS = {}

### nonebot_plugin_minio
MINIO_HOSTS = "127.0.0.1:9000"
MINIO_ACCESS_KEY = "vanillabot"
MINIO_SECRET_KEY = "abcdefghijklmnopqrstuvwxyz"
MINIO_SECURE = "False"

### vanilla_core
#参考文档：https://vanilla.wiki/
IMAGE_OCR_ENABLE="True"
IMAGE_OCR_URL="http://127.0.0.1:8186"
IMAGE_CHARACTERISTIC_ENABLE="True"
IMAGE_CHARACTERISTIC_URL="http://127.0.0.1:8286"
